{% extends 'base.html' %}
{% block content %}

<!-- Page Wrapper -->
<section style="display: flex;align-items: center;justify-content:center" class="page-wrapper success-msg">
    <div class="container">

        <div class="block text-center">
            <i class="tf-ion-android-checkmark-circle mb-4"></i>
            <h2 class="text-center">Thank you! For your payment</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
            <a href="{% url 'shopbar' %}" class="btn btn-main mt-20">Continue Browsing</a>
        </div>

    </div>
</section><!-- /.page-warpper -->
{% endblock %}